@import "tailwindcss";
@import "tw-animate-css";


:root {
  --background: #0a0a0a;
  --primary: #5a5dff;
  --secondary: #7a00ff;
  --muted: #90a4ae;
  --text: #ffffff;
  --foreground: #ffffff;
  --border: #1f1f1f;
  --ring: #5a5dff;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-text: var(--primary);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-poppins), ui-serif, Georgia, serif;
  --animate-ripple: ripple var(--duration,2s) ease calc(var(--i, 0)*.2s) infinite;
  @keyframes ripple {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
    }
  50% {
    transform: translate(-50%, -50%) scale(0.9);
    }
  }
}

body {

  color: var(--text);
  font-family: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}

.text-gradient {
  background: linear-gradient(to right, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background: linear-gradient(to right, var(--primary), var(--secondary));
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}